body { background: #a22281; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 38px; display: flex; }
.block-user-0 { color: #c5fcdb; font-size: 21px; margin-bottom: 5px; }
.block-cart-1 { color: #8b147; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #d199aa; font-size: 15px; margin-bottom: 5px; }
.block-email-3 { color: #3dbd15; font-size: 19px; margin-bottom: 5px; }
.block-cart-4 { color: #1b5315; font-size: 21px; margin-bottom: 5px; }
.block-payment-5 { color: #6b3604; font-size: 15px; margin-bottom: 5px; }
.block-cluster-6 { color: #de2fe7; font-size: 20px; margin-bottom: 5px; }
.block-cart-7 { color: #c310a1; font-size: 16px; margin-bottom: 5px; }